@import url("https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap");

* {
  color: white;
  font-family: "Press Start 2P", sans-serif;
  background-color: rgb(206, 33, 33);
  box-sizing: border-box;
}
body {
  margin: 1% 0;
}
header {
  border-bottom: white 5px solid;
}
.btn-again {
  background-color: white;
  color: black;
  border: none;
  font-size: 2em;
  margin: 1%;
  padding: 20px;
}
button:active {
  background-color: rgb(165, 165, 165);
}
.text-between {
  float: right;
  margin: 1%;
}
.guess {
  text-align: center;
  font-size: 3em;
  max-height: 200px;
  padding-bottom: 80px;
}

.answer-container {
  justify-content: center;
  display: flex;
}

.answer {
  text-align: center;
  font-size: 4em;
  background-color: white;
  color: black;
  padding: 20px 40px;
  position: absolute;
  transform: translate(0%, -50%);
}

main {
  margin: 100px 20px;
}

.left {
  width: 50%;
  float: left;
}

.input-number {
  border: white 5px solid;
  background-color: rgba(30, 30, 30, 0);
  padding: 20px 0px;
  text-align: center;
  width: 80%;
  font-size: 2em;
}

.check-btn {
  margin-top: 30px;
  font-size: 2em;
  padding: 30px;
  width: 80%;
  background-color: white;
  color: black;
}

.right {
  width: 50%;
  float: left;
}

.report {
  padding-bottom: 50px;
  font-size: 120%;
}

.score {
  font-size: 120%;
}
